.App {
    font-family: adobe-caslon-pro,serif;
    font-weight: 400;
    font-style: normal;
}

.head-hero {
    background-image: url('./img/wedding/Wedding-Couples-9.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 75vh;
    display: flex;
    align-items: flex-end;
}


h3 {
    font-family: 'Antonio Fischer', sans-serif;
    font-size: 72px;
}

h1 {
    font-family: 'Antonio Fischer', sans-serif;
    font-size: 90px;
}

.navbar {
    margin: 0 20px;
}

.nav-item {
    list-style: none;
}

.dropdown-menu li {
    list-style: none;
}

.col-md > .card {
    height: 25vh;
}

.maincard1 {
    background-image: url('./img/wedding/Wedding-Couples-18.jpg');
    background-size: cover;
    background-position: center;
}

.maincard2 {
    background-image: url('./img/family/Family-15.jpg');
    background-size: cover;
    background-position: center;
}


.maincard3 {
    background-image: url('./img/newborn/Newborn-5.jpg');
    background-size: cover;
    background-position: center;
}

.maincard4 {
    background-image: url('./img/senior/Seniors-3.jpg');
    background-size: cover;
    background-position: center;
}


.pricecard1 {
    background-image: url('./img/wedding/Wedding-Couples-12.jpg');
    background-size: cover;
    background-position: center;
}

.pricecard2 {
    background-image: url('./img/family/Family-23.jpg');
    background-size: cover;
    background-position: center;
}

.pricecard3 {
    background-image: url('./img/newborn/Newborn-18.jpg');
    background-size: cover;
    background-position: center;
}

.pricecard4 {
    background-image: url('./img/senior/Seniors-1.jpg');
    background-size: cover;
    background-position: center;
}





.col-fluid > .card {
    height: 25vh;
}

.button-wrap {
    display: flex;
    justify-content: center;
}

.button-wrap > .btn {
    border-color: rgb(126, 81, 23);
    border: 2px solid rgb(126, 81, 23);
    border-radius: 0;
}

.button-wrap > .btn:hover {
    background: rgb(126, 81, 23);
}

.btn > a {
    text-decoration: none;
    color: rgb(126, 81, 23);
}

.btn > a:hover {
    color: white;
}

form {
    margin-top: 30px;
}
#form-div {
    margin: auto;
}

.form-submit-btn {
    border-color: rgb(126, 81, 23);
    border: 2px solid rgb(126, 81, 23);
    border-radius: 0;
    background-color: white;
    color: rgb(126, 81, 23);
}

.form-submit-btn:hover {
    background: rgb(126, 81, 23);
}

li {
    list-style: square;
    text-align: left;
}


.aboutme-img {
    background-image: url('./img/paige2.jpeg');
    background-size: cover;
    background-position: center;
    height: 70vh;
    max-width: 780px;
    margin: auto;
}


#carouselExampleIndicators {
    max-width: 750px;
    margin: auto;
}

#carouselExampleIndicators .carousel-item img{
    object-fit: cover;
    object-position: center;
    height: 50vh;
    max-width: 750px;
}

.gallery-heading {
    margin: auto;
    text-align: center;
    margin: 30px 0;
}

.col-md:hover {
    transition: .2s;
}

.col-md .card:hover {
    opacity: 0.5;
    transition: .2s;
}

.session-dropdown {
    margin: 0 20px;
    justify-content: space-between;
}

.date-container {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.date-input {
    width: 25%;
    text-align: center;
}

@media only screen and (max-width: 440px) {
    

}

@media only screen and (min-width: 750px) {
    .App {
        width: 80%;
        margin: 0 auto;
    }

    #carouselExampleIndicators .carousel-item img{
        height: 70vh;
    }

    .row {
        flex-direction: column;
    }
    
}
@media only screen and (min-width: 1200px) {
    .row {
        flex-direction: row;
    }

    
}
