.App {
    font-family: adobe-caslon-pro,serif;
    font-weight: 400;
    font-style: normal;
}

.head-hero {
    background-image: url('./img/wedding/Wedding-Couples-9.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 75vh;
}


.navbar {
    margin: 0 20px;
}

.nav-item {
    list-style: none;
}

.dropdown-menu li {
    list-style: none;
}

.col-md > .card {
    height: 25vh;
}

.maincard1 {
    background-image: url('./img/wedding/Wedding-Couples-18.jpg');
    background-size: cover;

}

.maincard2 {
    background-image: url('./img/wedding/Wedding-Couples-34.jpg');
    background-size: cover;
    background-position: left;
}


.maincard3 {
    background-image: url('./img/wedding/Wedding-Couples-27.jpg');
    background-size: cover;
}

.maincard4 {
    background-image: url('./img/wedding/Wedding-Couples-4.jpg');
    background-size: cover;
}

.pricecard1 {
    background-image: url('./img/wedding/Wedding-Couples-4.jpg');
    background-size: cover;
}

.pricecard2 {
    background-image: url('./img/wedding/Wedding-Couples-4.jpg');
    background-size: cover;
}

.pricecard3 {
    background-image: url('./img/wedding/Wedding-Couples-4.jpg');
    background-size: cover;
}

.pricecard4 {
    background-image: url('./img/wedding/Wedding-Couples-4.jpg');
    background-size: cover;
}

.col-fluid > .card {
    height: 25vh;
}

.button-wrap {
    display: flex;
    justify-content: center;
}

.button-wrap > .btn {
    border-color: rgb(126, 81, 23);
    border: 2px solid rgb(126, 81, 23);
    border-radius: 0;
}

.button-wrap > .btn:hover {
    background: rgb(126, 81, 23);
}

.btn > a {
    text-decoration: none;
    color: rgb(126, 81, 23);
}

.btn > a:hover {
    color: white;
}

.form-submit-btn {
    border-color: rgb(126, 81, 23);
    border: 2px solid rgb(126, 81, 23);
    border-radius: 0;
    background-color: white;
    color: rgb(126, 81, 23);
}

.form-submit-btn:hover {
    background: rgb(126, 81, 23);
}




li {
    list-style: square;
    text-align: left;
}

.aboutme-div {
    width: 100%;
    margin: 0 20px;
}

.aboutme-img {
    background-image: url('./img/paige2.jpeg');
    background-size: cover;
    background-position: center;
    height: 50vh;
    max-width: 780px;
}

#carouselExampleIndicators .carousel-item img{
    object-fit: cover;
    object-position: center;
    height: 30vh;
}



@media only screen and (max-width: 440px) {
    .hero-main {
        height: 35vh;
    }
}

@media only screen and (min-width: 750px) {
    .App {
        width: 80%;
        margin: 0 auto;
    }
    
}
